/* base element styles */
body {
    font-family: 'Roboto', sans-serif;
}
.alert-container {

}
.callout-container{
    height: 100vh;
    background: url("../images/marina-bay-sunset-quincy-ma.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;


}
.features-container {

}
.quotes-container {

}
.favs-container {

}